core/__pycache__/__init__.cpython-312.pyc
core/__pycache__/admin.cpython-312.pyc
core/__pycache__/apps.cpython-312.pyc
core/__pycache__/forms.cpython-312.pyc
core/__pycache__/models.cpython-312.pyc
core/__pycache__/urls.cpython-312.pyc
core/__pycache__/views.cpython-312.pyc
segfault/__pycache__/__init__.cpython-312.pyc
segfault/__pycache__/settings.cpython-312.pyc
segfault/__pycache__/urls.cpython-312.pyc
segfault/__pycache__/wsgi.cpython-312.pyc
db.sqlite3
core/api/__pycache__/__init__.cpython-312.pyc
core/api/__pycache__/serializers.cpython-312.pyc
core/api/__pycache__/urls.cpython-312.pyc
core/api/__pycache__/views.cpython-312.pyc
core/__pycache__/__init__.cpython-312.pyc
core/__pycache__/admin.cpython-312.pyc
core/__pycache__/apps.cpython-312.pyc
core/__pycache__/forms.cpython-312.pyc
core/__pycache__/models.cpython-312.pyc
core/__pycache__/urls.cpython-312.pyc
core/__pycache__/views.cpython-312.pyc
